header, section {
    margin: auto;
width: 1280px;
}

.container-fluid {
width: 100%;
   margin: auto;
    height: 520px;
    position: absolute;
    top: 0;
    background-color: $black;
    clip-path: polygon(0% 0%, 80% 0%, 52% 100%, 0% 100%);
.bg-text {
        font-size: 152px;
        text-transform: uppercase;
        color: $grey;
        transform: translate(400px, -50px);
        font-weight: 800;
    }
.button__holder {
    transform: translate(290px, -20px);
  

}

    
}
.content__holder {
    color: $third_color;
    transform: translate(280px, -40px);


}
// .img__holder {

//     position: absolute;
//     top: 0;
//     z-index: -20;
//     background-image:url("/portfolio/images/Łukasz..jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
// }