nav {
    
    position: sticky;
    left: 0;
    width: 100px;
    height: 100%;
    z-index: 10000;

    }
.nav_item {
    background-color: $black;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    list-style: none;
border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease all;

    &:hover {
    // -webkit-animation: navigation-hover 0.4s ease;
    // animation: navigation-hover 0.4s ease;
    @include animation('nav-hov .2s');
    cursor:pointer; 

}
    


}
#nav-link {

    color: $third_color;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 0.3;
display:flex;
justify-content: center;
flex-direction: column;


    

    img {
      height: 70px;
      width: auto;
    }
    
    span {
        color: $yellow;
    }

}